@use 'variables';

.event {
    padding: 80px 0;
    
    &--presentes {
        background-image: linear-gradient(variables.$color1, variables.$color2);
    }

    &--comidas {
        background-image: linear-gradient(variables.$color2, variables.$color3);
    }

    &--convidados {
        background-image: linear-gradient(variables.$color3, variables.$color4);
    }

    &--image-left {
        .container {
            flex-direction: row-reverse;
        }
    }

    .container {
        display: flex;
        gap: 40px;
    }

    &__image {
        max-width: 360px;
    }

    &__details {
        &__title {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 16px;
        }

        &__description {
            line-height: 22px;
        }
    }

    @media (max-width: 640px) {
        .container {
            display: block;
        }

        &__image {
            width: 100%;
            display: block;
            margin: 0 auto;
        }

        &__details {
            margin-right: 0;
            margin-bottom: 16px;
            text-align: center;
        }
    }
}